extends ../layout

block main
  if user
    script.
      location="/";
  else
    form(action='signin' method='POST').form-signin
      h2.form-signin-heading Please sign in
      label.sr-only(for='inputEmail') Username
      input#inputEmail.form-control(type='text', placeholder='Username', required='', autofocus='' name='username')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', required='' name='password')

      label

      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
