extends layout
block main
  // Main component for a primary marketing message or call to action
  .jumbotron
    h1 VMMS
    p
      | Veding Machine Monitoring System
    | &nbsp;&nbsp;&nbsp;VMMS는 자판기 모니터링 시스템입니다.
    창업 이전에 창업시장에 대한 경험을 위한 가상의 프로젝트입니다.
    br
    가까운 일본의 경우에 커피, 음료, 라면, 과자, 과일 등의 자판기 사업이 크게 발전했습니다.
    br
    &nbsp;&nbsp;&nbsp;최근 국내에서는 과거 웰빙, 단체 문화는 사라지고 혼밥, 혼술 등 개인과 가성비 문화가 유행하고 있습니다.
    br
    이에 따라 국내에서도 자판기 사업이 활발해질 것을 예상하여 자판기 모니터링 시스템을 개발했습니다.
    br

    br
    br
    *사용법 : 상단의 자판기 메뉴로 접속하여 자판기 선택 후에 자유롭게 상품을 구매하시면 됩니다.
    b (무료)
    br
    | (관리자 사용법은 포트폴리오 참고)
    br
    br
    p
      a.btn.btn-lg.btn-primary(href = 'https://github.com/MRbcgd/avmms_1.git', role = 'button') View Github »
