extends layout
block main
  // Main component for a primary marketing message or call to action
  .jumbotron
    h1 VMMS
    p
      | Veding Machine Monitoring System
    p
      a.btn.btn-lg.btn-primary(href='https://github.com/MRbcgd/avmms_1.git', role='button') View Github »
